[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
celery = "*"
flower = "*"
braintree = "*"
weasyprint = "*"
django-rosetta = "*"
django-parler = "*"
ptpython = "*"
django-localflavor = "*"
redis = "*"
django-environ = "*"

[dev-packages]

[requires]
python_version = "3.10"
