[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "*"
weasyprint = "*"
redis = "*"
django-rosetta = "*"
psycopg2-binary = "*"
django-parler = "*"
stripe = "*"
flower = "*"
pillow = "*"
django-localflavor = "*"
celery = "==5.2.7"

[dev-packages]

[requires]
python_version = "3.11"
